html { 
    font-size: 62.5%; 
} 

body {
	font-family: $font-family;	
	margin: {
        0: 0;
        $medium: 3.6rem;
    }
	background-color: #f0f0f0;
	font-size: 1.4rem;

	background: repeating-linear-gradient(
		-45deg,
		$stripe1,
		$stripe1 150px,
		$stripe2 150px,
		$stripe2 300px
      );
}

a {
	text-decoration: none;
}

h2 {
	color: $primary;
	text-align: center;
	font-family: 'Pinyon Script';
	font-size: 4rem;
	font-weight: normal;
	margin: {
        0: 3rem 0 0 0;
        $medium: 0;
    }
}

a:hover {
	text-decoration: underline;
}