.hero {
    height: 41.5rem; 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url('https://picsum.photos/1000/450?image=1057');
    background-size: cover;

    color: white;

    h1 {     
        font-size: 8rem;
        margin: 0;
        font-family: $header-font-family;
        font-weight: normal;
    }

    .text {
        font-size: 3.5rem;
        margin: 0;
        font-family: $header-font-family;
    }

    .bottom-call-to-action {
        margin-top: 2.5em;
    }
}