.wrap {
    max-width: 120em;
    margin-left: auto;
    margin-right: auto;
}

.section {
    margin-top: 4em;
    lost-utility: clearfix;
}
  
.block {
    lost-column: {
        0: 1;
        800: 1/2;
    } 
}